Source: screen-time
Section: x11
Priority: optional
Maintainer: Kyle Corry <kylecorry31@gmail.com>
Build-Depends: debhelper (>= 10), python3, python3-pip
Standards-Version: 4.1.2
Homepage: https://github.com/kylecorry31/ScreenTime
Vcs-Git: https://github.com/kylecorry31/ScreenTime.git

Package: screen-time
Architecture: all
Depends:
	python3,
	python3-matplotlib,
	python3-numpy,
	python3-pip,
	libgtk-3-dev,
	libgranite-dev,
 	${misc:Depends}
Description: Screen Time
 Visualize computer usage.