[Desktop Entry]
Name=Screen Time
GenericName=Screen Time
Comment=View your computer usage
Categories=System;
Exec=/usr/lib/screen_time/screen_time.pkexec
Terminal=false
Type=Application
Keywords=Python;